html 
{	font-size:15px;
font-family:'Montserrat', sans-serif;
}
*
{	box-sizing:border-box;
	margin: 0px;
	
}
*::-webkit-scrollbar {
	display: none;
  }
header
{	background:#242424;
	opacity:0.6;
	height:125px;
	display:flex;
	justify-content: center;
	align-items: center;
	position:fixed;
	top:0px;
	left:0px;
	z-index :100000 ;
	width:100%;
}
header > nav  img
{	
	width:275px;
	height:auto;
}

.menu
{	text-decoration:none;
	color:white;
	font-size: 1.6em;
	font-weight: bold;
}

header > nav{
	width:70%;
	display: flex;
}

nav > div { 
	display: flex;
	flex:1;
	justify-content: space-around;
	align-items: center;
}

body > div{
	height :100vh;
	background :transparent ;
	position :relative ;
	overflow :hidden
}


h1{
	text-align: center;
	font-weight: normal;
	font-family: 'bebas neue', sans-serif; 
	font-size: 40px;
	text-transform:capitalize;
	color: #364253;

}

section > div{
display: flex;
justify-content: center;
padding: 20px 20px;
}

figure{

display: flex;
flex-direction: column-reverse;
text-align: center;

}

video{ 
	min-width:100%;
	min-height:100%;
	object-fit: cover;
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	overflow:hidden;
	z-index: -213;
	
	}

figcaption{
	margin-bottom: 10px;
}


#gniduweb {
	margin-top: 20%;
	display: flex;
	justify-content: center;
	font-size:250px;
	color:white;
	
	transition: all 1s;
	animation: spawn 2s ease;
	}



@keyframes spawn {
	0% {
		opacity: 0%;
	}

	50% {
		opacity: 50%;
	}

	100% {
		opacity: 100%;
	}
}


#gniduweb:hover {
	transform: scale(1.1);
}

#insta {

	width: 60px;
	position: absolute;
	right: 6%;
	bottom:2%;
	transition:all 1s;
}

#insta:hover {transform:scale(1.2);

}
#linkdn{
	width: 60px;
	position: absolute;
	right: 11%;
	bottom:2%;
	transition:all 1s;
}	

#linkdn:hover {transform:scale(1.2);}



#twitter{
	width: 60px;
	position: absolute;
	right: 1%;
	bottom:2%;
	transition:all 1s;
}	

#twitter:hover {transform:scale(1.2);}


div > a:hover{transform:scale(1.05);}


div > a {transition:all 0.25s;}


#agence{
	color: rgb(39, 39, 39);
	margin-top:120px;
	font-size: 90px;
}

#prod{
	color:aliceblue;
	margin-top:120px;
	font-size: 90px;
}
#contact {
	color:rgb(39, 39, 39);
	margin-top:50px;
	font-size: 90px;

}


#agenceDiv{
	height:100vh;
	width:auto;
	background-color: aliceblue;
	
}


#prodDiv{
	height:100vh;
	width:auto;
	background-color: rgb(39, 39, 39);
	
}

#contactDiv{
	background-color: aliceblue;;
	height: auto;
	
}
#coucou{
	display: flex;
	align-items: center;

}
form { 
	max-width:420px; 
	margin:50px auto; 
}
.contact_input{
	color:rgb(39, 39, 39);
	font-family: Helvetica, Arial, sans-serif;
	font-weight:500;
	font-size: 18px;
	border-radius: 5px;
	line-height: 22px;
	background-color: transparent;
	border:2px solid rgb(39, 39, 39);
	transition: all 0.3s;
	padding: 13px;
	margin-bottom: 15px;
	width:100%;
	box-sizing: border-box;
	outline:0;
}
#nous{
	width:50%;
	height: auto;
}
#barre{
	background-color: rgb(39, 39, 39);
	width: 2px;
	height: 300px;
}
textarea {
	height: 150px;
	line-height: 150%;
	resize:vertical;
  }
  [type="submit"] {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	width: 100%;
	background:rgb(39, 39, 39);
	border-radius:5px;
	border:0;
	cursor:pointer;
	color:aliceblue;
	font-size:24px;
	padding-top:10px;
	padding-bottom:10px;
	transition: all 0.3s;
	margin-top:-4px;
	font-weight:700;
  }
  [type="submit"]:hover { background:rgb(98, 98, 98); }
  h2{
	color: rgb(39, 39, 39);
	margin-bottom:15px;
	font-size: 20px;
  }
  .name{
	color: aliceblue;;
	margin-bottom:15px;
	font-size: 2em;
  }
  .carrous{
	width: auto;
	height: 70vh;
	display: flex;
	flex-direction: row;
	align-items: center;
  }
  .exemple{
	height: auto;
	position: relative;
  }
  .capture{
	width: 95vh;
	height: auto;
	margin-left: 50px;
	border-radius: 10px;
	z-index: -1000;
}
  .exemple_texte{
	color:aliceblue;
	margin-left: 10vh;
	text-align: start;
	padding-right: 100px;
  }
.logos{
	position: absolute;
	width: 10%;
	top: -50px;
	left: 20%;
	height: auto;
	border-radius: 10px;
	filter: drop-shadow(10px 10px 10px black);
	z-index: 1000;
	transition: all 1s;
}
.logos:hover{
	transform: scale(1.1);
}
#carouselExampleSlidesOnly{
	margin-left: 50px;
	border-radius: 10px;
}
#carouselExampleSlidesOnly img{
	border-radius: 10px;
}
#agence_pos{
	width: auto;
	height: 70vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}
#agence_left{
	width: 50%;
}

#agence_title{
	color: rgb(39, 39, 39);
	margin-bottom:15px;
	font-size: 2em;
	font-weight: bold;
}
#agence_right{
	color:rgb(39, 39, 39);
	margin-left: 10vh;
	text-align: start;
	padding-right: 100px;
}
#raph{
	position: absolute;
	width: 15%;
	top: -50px;
	left: -20px;
	height: auto;
	filter: drop-shadow(10px 10px 10px black);
	z-index: 1000;
	transition: all 1s;
}
#raph:hover{
	transform: scale(1.1);
}
#noah{
	position: absolute;
	width: 15%;
	top: -50px;
	left: 88%;
	height: auto;
	filter: drop-shadow(10px 10px 10px black);
	z-index: 1000;
	transition: all 1s;
}
#noah:hover{
	transform: scale(1.1);
}